<div>

  <h1 id="titlecategories">Categories</h1>

 <div id="rowcategories">
  <div class="columncategories">
      <button type="button" class="categoriesbutton" id="catsbutton" [routerLink]="['/cats']"><h4>Cats</h4></button>
  </div>
  <div class="columncategories">
      <button type="button" class="categoriesbutton" id="dogsbutton" [routerLink]="['/dogs']"><h4>Dogs</h4></button>
  </div>
   <div class="columncategories">
     <button type="button" class="categoriesbutton" id="birdsbutton" [routerLink]="['/birds']"><h4>Birds</h4></button>
   </div>
   <div class="columncategories">
     <button type="button" class="categoriesbutton" id="monkeysbutton" [routerLink]="['/monkeys']"><h4>Monkeys</h4></button>
   </div>
   <div class="columncategories">
     <button type="button" class="categoriesbutton" id="peoplebutton" [routerLink]="['/people']"><h4>People</h4></button>
   </div>
 </div>

</div>
